<a href="https://colab.research.google.com/github/MariiaKalinina/Skoltech/blob/main/Kalinina_Mariia_HA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Changelog

- **Question Q11.5:** note on what feature to use is added.

    Before: `Q11.5 What is the living area (in square feets) of the house with index 1225069038?`
    
    Now: `Q11.5 What is the living area (in square feets, feature 'sqft_living') of the house with index 1225069038?`

- **Question Q14.2**: not sold but **built** house.

    Before: `Q14.2 What was the most expensive house sold in the last decade of 20th centuary?`
    
    Now: `Q14.2 What was the most expensive house built in the last decade of 20th centuary?`

- **Question Q14.3**: not sold but **built** house.

    Before: `Q14.3 What was the least expensive house sold in the last decade of 20th centuary?`
    
    Now: `Q14.3 What was the least expensive house built in the last decade of 20th centuary?`
    
- **Question Q15.4:** added **zero percentile** into splitting intervals.

    Before: `Q15.4 Create a new column 'price_cat' by splitting a 'price' into 5 ([1..5]) distinct intervals: 0 < x <=20%, 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use '.quantile()' to compute percentiles.`
    
    Now: `Q15.4 Create a new column 'price_cat' by splitting a 'price' into 5 ([1..5]) distinct intervals: 0 <= x <=20%, 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use '.quantile()' to compute percentiles.`
    
- **Question Q18.4:** note on what feature to use is added.

    Before: `Q18.4 What is the median age of the house (on a first available sold date)? (float)`
    
    Now: `Q18.4 What is the median age of the house (on a first available sold date), use feature 'house_age_10'? (float)`

- **Question Q19.5:** note on what feature to use is added.

    Before: `Q19.5 'floors_by_age' groupby 'floors' and compute average age of a house.`

    Now: `Q19.5 'floors_by_age' groupby 'floors' and compute average age of a house using feature 'house_age_10'.`

## Questions clarifications

- **Questions Q5.1 - Q5.5:** you need to report only values which are **exaclty NaNs**. There is no need to find any nontrivial NaNs such as a negative number of floors, bedrooms, etc.

- **Questions Q7.1 - Q7.5:** you need to report **frequencies of the values**. E.g. you have to solve Q7.3. So, you need to report list of ints with number of occurances of specific bedrooms from the dataset, **not** number of bedrooms, and **not** both.

- **Questions Q8.1 - Q8.5:** you should report **list of floats in descending order** as stated in the Submiting results section. Please read it careafully.

- **Questions Q11.1 - Q11.5:** you set the `id` columns as an index previously. So inde is no longer a sequence numbers of rows (as in questions Q10.1-Q10.5).

- **Question Q27:** print a list of strings.

## General clarifications

- If in question you are asked to report float and you have as a result, e.g., number 20, you should submit 20.000 as stated in the **Submiting results** section. Please read it careafully.

- Do not forget to run a cell with setting `id` as index and sorting then. You notebook have to be **linearly executable**.
    
- Examples of **decades**: `[0, 9]; [10, 19]; [90, 99]` (including both ends).

- Columns that are associated with **house location**: `lat, long`.

- When you creating **new columns**, double check values produced. It may be not consistent in terms of the minimum and maximum values. E.g. when extracting days, months, weekdays.
     
- If approach is not specified, you can get the results any way you like. Otherways, if you asked to obtain results with a specific approach (e.g. using `.groupby()`, use the specific type of linear model (with `L2` regulatization)) it is mandatory to go along with this approach.

- If you asked to report not a single, but a couple of integers/floats/strings, you should follow the rules in the beginning of the .ipynb file.

- Notes on part **7.Building a regression model**:
     
     Do not forget to **normalize** the data for linear and knn models.
     
     Do not forget to deal with **categorical features** (one-hot encoding, label encoding, etc.).
     
     Do not forget to extract the **traget**, which is a column `price`.
     
     Do not forget to **drop** (and do not create any new) columns that are created with/based on the traget (column `price`).

## HW scoring clarifications

Once again, how do we score you home assignment.

- You have to fill the google form for each question (e.g. 1, 2, 3, etc.) and each 'subtask' (e.g. 1.1, 1.3; 2.3, 2.2, etc.) **you asked for** in the google sheets.

- If a question is not in the google sheet (e.g. question 21, 22), it **does not mean that they are optional**. They will be checked manually.

- You have to submit filled `.ipynb` file (very last question in the google form).

- `.ipynb` file must be **linearly executable** (`Kernel -> Restart & Run All -> No ERROR cells`). It is your task to make it so.

- We do not grade the scores you obtain in part 7 with your models (you are free to use different feautres). However, not normalizing *numerical* features for linear regression, using the `price` as a feature (features, that are derived from price), not dealing with categorical features will be considered as mistakes.

- You do not need to defend an assignment.

---
---

## Each student has personal set of questions

Google sheet with personal questions: https://docs.google.com/spreadsheets/d/16NfDeMJGCGsrsHYFV5qWC3iexrSdc93c-NHQvKka5K8/edit?usp=sharing

Every column corresponds to a single question, every row to a single student.

For example, Maksim Komiakov need to report questions 1.1, 1.2: 2.2, 2.3; 3.4, 3.1 etc.

## Submiting results

Google form to submit your answers: https://forms.gle/auZXVxfr4sk3cCmk8

Google form has fields for all questions, but you only need to answer **your** questions (from google sheet above).

Use your **skoltech email**. Fill your first and last names with **exactly same spelling** as in canvas system.

---

Every question has an information about the type of the answer, e.g.

> Observe top 10 observations (int)

here your answer must be a single **integer** number.

---

If your answer is a ``float number``, then it must be provided with **3 decimals after the floating point**, e.g. 1.234

---

If your answer is a ``list of float or integer numbers or str``, then they should be reported in descending (alphabetical) order, without spacing, divided by a comma, e.g.:

10.453,9.112,5.001,5.000 - **Right**

10.453, 9.112, 5.001, 5.000 - **Wrong**

---

Part of the tasks, e.g. Q19.1-5, Q20.1-5, do not have corresponding fields in the google form. They are **not optional** and they will be graded manually from your .ipynb file.

---

If you have any questions regarding this Home Assignment, ask them via telegram chat, topic 'HW1'.

# Assignment 1. House Pricing.
by Anvar Kurmukov

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using house sale price data from King County, Wahington, USA. This dataset is in public domain and can be obtained from Kaggle: https://www.kaggle.com/harlfoxem/housesalesprediction

You need to place `kc_house_data.csv` file in the same directory as this notebook.

In [ ]:
import pandas as pd
import numpy as np
import random

random.seed(42)
np.random.seed(42)

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `house_data.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

In [ ]:
# Load the data
df=pd.read_csv('/content/kc_house_data.csv')

In [ ]:
# Observe top 10 observations (int)
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
# Q1.2 How many bedrooms has a house with `id` == 7237550310?
print('Q1.2 How many bedrooms has a house with `id` == 7237550310? - ', (df.loc[df['id']==7237550310, 'bedrooms'].item()))
# Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)?
print('Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)? - ', (df.loc[df['id']==2414600126, 'yr_built'].item()))

Q1.2 How many bedrooms has a house with `id` == 7237550310? -  4
Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)? -  1960

In [ ]:
# Observe top 10 observations (int)
df.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,3,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,3,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,3,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,3,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,3,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
# Observe last 10 observations (int)
# Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)?
print("Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)? - ", df.loc[df['id']==1523300141, 'yr_built'].item())
# Q2.2 How many bedrooms has a house with `id` == 291310100?
print("Q2.2 How many bedrooms has a house with `id` == 291310100? - ", df.loc[df['id']==291310100, 'bedrooms'].item())

Q2.3 When was the house with `id` == 1523300141 built (`yr_built`)? -  2009
Q2.2 How many bedrooms has a house with `id` == 291310100? -  3

In [ ]:
# Increase maximal displayed columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [ ]:
# Observe top 10 observations again
# Is there any new columns displayed?
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [ ]:
# Print all the columns/features names (int)
print(*df.columns, sep=', ')

id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15

In [ ]:
# Q3.4 How many columns have `rooms` in their names?
# sum(col.str.startswith('rooms'))
print("Q3.4 How many columns have `rooms` in their names? - ", sum(df.columns.str.contains('rooms')))


# Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data?
print("Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data? - ", sum(df.columns.str.startswith('l')))

Q3.4 How many columns have `rooms` in their names? -  2
Q3.3 How many columns assosiated with house location (except `zipcode`) are in the data? -  2

In [ ]:
# Print data size (int)
print("Data size:", df.shape)

# Q4.1 How many observations are in the data?
print("Q4.1 How many observations are in the data? - ", df.shape[0])
# Q4.2 How many features are in the data?
print("Q4.2 How many features are in the data? - ", *df.columns.shape)

Data size: (21613, 21)
Q4.1 How many observations are in the data? -  21613
Q4.2 How many features are in the data? -  21

# 2. Basic data exploration

Lets do some basics:
- `.count()` number of not NaN's in every column.
- Is there any missing values in the data?
- Count number of unique values in every column `.nunique()`.
- What does this tells you about the features, which are most likely categorical and which are most likely numerical?
- Use pandas `.describe()` to display basic statistic about the data.
- Use pandas `.value_counts()` to count number of unique values in a specific column.
- Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.
- Use pandas `.dtypes` field to display data types in columns.

**Hint**
You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [ ]:
# Display number of not NaN's in every column (int)
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
# Q5.3 How many NA values are in the `bedrooms` column?
# Q5.2 How many NA values are in the `grade` column?

print("Q5.3 How many NA values are in the `bedrooms` column? - ", df['bedrooms'].isnull().sum())
print("Q5.2 How many NA values are in the `grade` column?", df['grade'].isnull().sum())

Q5.3 How many NA values are in the `bedrooms` column? -  0
Q5.2 How many NA values are in the `grade` column? 0

In [ ]:
# Count number of unique values in every column (int)
df.nunique()

id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64

In [ ]:
# Q6.3 How many unique values are in the `yr_renovated` column?
# Q6.1 How many unique values are in the `bedrooms` column?

print("Q6.3 How many unique values are in the `yr_renovated` column? - ", df['yr_renovated'].nunique())
print("Q6.1 How many unique values are in the `bedrooms` column? - ", df['bedrooms'].nunique())

Q6.3 How many unique values are in the `yr_renovated` column? -  70
Q6.1 How many unique values are in the `bedrooms` column? -  13

In [ ]:
# Count frequency of the values in different columns (list of ints in descending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

# Q7.1 For every unique `floors` value give its number of occurences.
# Q7.2 For every unique `condition` value give its number of occurences.

print("Q7.1 For every unique `floors` value give its number of occurences: ", np.sort(df['floors'].unique()).astype(int)[::-1])
print("Q7.2 For every unique `condition` value give its number of occurences: ", np.sort(df['condition'].unique()).astype(int)[::-1])

Q7.1 For every unique `floors` value give its number of occurences:  [3 3 2 2 1 1]
Q7.2 For every unique `condition` value give its number of occurences:  [5 4 3 2 1]

In [ ]:
# Display basic data statistics using .describe()
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q8.4 What are the max, min, mean and the std of the `price` column?
# Q8.2 What are the max, min, mean and the std of the `bedrooms` column?
print("Q8.4 What are the max, min, mean and the std of the `price` column?\n ", \
      np.round(df['price'].describe()[['max','min', 'mean', 'std']], 3).tolist(), "\n")

print("Q8.2 What are the max, min, mean and the std of the `bedrooms` column?\n", \
      np.round(df['bedrooms'].describe()[['max','min', 'mean', 'std']], 3).tolist())

Q8.4 What are the max, min, mean and the std of the `price` column?
  [7700000.0, 75000.0, 540088.142, 367127.196]

Q8.2 What are the max, min, mean and the std of the `bedrooms` column?
 [33.0, 0.0, 3.371, 0.93]

In [ ]:
# Display data types of all columns (int)
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
# Display data types of all columns (int)
# Q9.1 How many columns have `object` data type?
print("Q9.1 How many columns have `object` data type? - ", \
      len([i for i in df.dtypes if i == 'object']))


# Display data types of all columns (list of str)
# Q9.5 What are the columns with dtype == `int64`?
print("Q9.5 What are the columns with dtype == `int64`? ", \
      *list(df.select_dtypes(include=['int64']).columns), sep=',')

Q9.1 How many columns have `object` data type? -  1
Q9.5 What are the columns with dtype == `int64`? ,id,bedrooms,sqft_living,sqft_lot,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15

# 3. Data selection

In pandas.DataFrame you could select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```
data.loc[0]
data.loc[5:10]
data.iloc[0]
data.iloc[5:10]
```
*Though, this is probably the worst way to manipulate rows.*

2. Columns by name
```
data[columname]
```
3. Row/s and columns
```
data.loc[10, columname]
data.iloc[10, columname]
```
4. Using boolean mask
```
mask = data[columname] > value
data[mask]
```
You could combine multiple conditions using `&` or `|` (and, or)

```
cond1 = data[columname1] > value1
cond2 = data[columname2] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```
value = 5
data.query("columname > value")
```
You could combine multiple conditions using `and`, `or`

```
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

*Remember to use different quotation marks " or ' for columnname inside a query.*

In [ ]:
# Select rows by position (int)

# Q10.1 How many bedrooms have a house on row 777?
# Q10.5 What is the grade of a house on row 2718?
print("Q10.1 How many bedrooms have a house on row 777? - ", df.loc[777, 'bedrooms'])
print("Q10.5 What is the grade of a house on row 2718? - ", df.loc[2718, 'grade'])

Q10.1 How many bedrooms have a house on row 777? -  4
Q10.5 What is the grade of a house on row 2718? -  7

In [ ]:
# setting DataFrame index to be an `id` column, now .loc and .iloc will have different behavior
df.index = df['id']

# dropping `id` column, since now it is an index
df.drop('id', axis=1, inplace=True)

# sort data by index for clarity
df.sort_index(inplace=True)

df.head(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
1000102,20150422T000000,300000.0,6,3.00,2400,9373,2.0,0,0,3,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
1000102,20140916T000000,280000.0,6,3.00,2400,9373,2.0,0,0,3,7,2400,0,1991,0,98002,47.3262,-122.214,2060,7316
1200019,20140508T000000,647500.0,4,1.75,2060,26036,1.0,0,0,4,8,1160,900,1947,0,98166,47.4444,-122.351,2590,21891
1200021,20140811T000000,400000.0,3,1.00,1460,43000,1.0,0,0,3,7,1460,0,1952,0,98166,47.4434,-122.347,2250,20023
2800031,20150401T000000,235000.0,3,1.00,1430,7599,1.5,0,0,4,6,1010,420,1930,0,98168,47.4783,-122.265,1290,10320
3600057,20150319T000000,402500.0,4,2.00,1650,3504,1.0,0,0,3,7,760,890,1951,2013,98144,47.5803,-122.294,1480,3504
3600072,20150330T000000,680000.0,4,2.75,2220,5310,1.0,0,0,5,7,1170,1050,1951,0,98144,47.5801,-122.294,1540,4200
3800008,20150224T000000,178000.0,5,1.50,1990,18200,1.0,0,0,3,7,1990,0,1960,0,98178,47.4938,-122.262,1860,8658
5200087,20140709T000000,487000.0,4,2.50,2540,5001,2.0,0,0,3,9,2540,0,2005,0,98108,47.5423,-122.302,2360,6834
6200017,20141112T000000,281000.0,3,1.00,1340,21336,1.5,0,0,4,5,1340,0,1945,0,98032,47.4023,-122.273,1340,37703

In [ ]:
# Select rows by index (int)
# Q11.4 What is the condition of a house with index 252000300?
# Q11.1 How many times the house with index 1000102 were sold?
print("Q11.4 What is the condition of a house with index 252000300? - ", df.loc[252000300, 'condition'])
print("Q11.1 How many times the house with index 1000102 were sold? - ",df.loc[1000102, 'grade'].mean())

Q11.4 What is the condition of a house with index 252000300? -  3
Q11.1 How many times the house with index 1000102 were sold? -  7.0

In [ ]:
# Using mask or .query syntax select rows/columns (int)

# Q12.1 How many houses were built during American Great Depression (1929–1939)? Including both start and end year.
# Q12.2 When was built the only house with basement area = 1024 sqft?

print("Q12.1 How many houses were built during American Great Depression (1929–1939)? \
 Including both start and end year:", \
      df[(df['yr_built'] >=1929) & (df['yr_built'] <= 1939)].shape[0])

print("Q12.2 When was built the only house with basement area = 1024 sqft? - ",  \
      df[(df['sqft_basement'] == 1024)]['yr_built'].item())

Q12.1 How many houses were built during American Great Depression (1929–1939)?  Including both start and end year: 644
Q12.2 When was built the only house with basement area = 1024 sqft? -  2006

In [ ]:
# Using mask or .query syntax select rows/columns (int)
# Q13.3 How many houses are with 6 bedrooms and less than 2000 sqft living area?
print("Q13.3 How many houses are with 6 bedrooms and less than 2000 sqft \
 living area? - ", df[(df['bedrooms']==6) & (df['sqft_living15'] <2000)].shape[0])

# Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969—1974)? Including both start and end year.
print("Q13.1 How many houses with the waterfront (=1) were built duroing \
Nixon's presidency (1969—1974)? Including both start and end year : ", \
      df[(df['yr_built']>=1969) & (df['yr_built']<=1974)]['waterfront'].shape[0])

Q13.3 How many houses are with 6 bedrooms and less than 2000 sqft  living area? -  113
Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969—1974)? Including both start and end year :  976

In [ ]:
df.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront',
       'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated',
       'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q14.3 What was the least expensive house built in the last decade of 20th centuary?
print("Q14.3 What was the least expensive house built in the last decade of 20th centuary? - ", \
      *df[(df['yr_built'] >=1990) & (df['yr_built'] <=2000)]['price'].sort_values(ascending=True).head(1).index)

# Q14.5 What is the median grade of houses with most popular zipcode value?
print("Q14.5 What is the median grade of houses with most popular zipcode value? - ", \
     df[(df['zipcode'] == df['zipcode'].value_counts().nlargest(1).index[0])]['grade'].median() )

Q14.3 What was the least expensive house built in the last decade of 20th centuary? -  3356403304
Q14.5 What is the median grade of houses with most popular zipcode value? -  7.0

# 4. Creating new columns


Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = []
```
that's it. But such a column is relatively useless.
Typically, you would compute something new based on existing data and save it in a new column.
For example one might want to compute total area of the house as a sum of all `sqft_` columns, or
create a boolean column of whether the house has `grade` > 2 or anything else:

```
data['total_area'] = data[col1] + data[col2] + ...
data['high_value'] = data[col] > 5
```

Pandas also provides another powerfull tool: `.apply`, `.map()`, `.applymap()` methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas .
They allow you to *apply* some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of `total_area` and `high_value` using `.apply()`:
```
data['total_area'] = data[[col1, col2, col3]].apply(sum, axis=1)

```
you are not restricted to existent functions, `.apply()` accepts any function (including lambda functions):

```
data['total_area'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total
    
data['total_area'] = data[[col1, col2, col3]].apply(_sum, axis=1)
```
Many pandas methods has `axis` parameter `axis=0` refers to rows, `axis=1` refers to columns.

*Warning. You should never use `for` loops to sum numerical elements from the container.*

---

In [ ]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.
df["was_renovated"] = df["yr_renovated"].apply(lambda x: 0 if x == 0 else 1)

In [ ]:
# Create new columns using the old ones (new column in your DataFrame)

# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
df["sqft_tot_area"] = df.filter(regex='sqft_').apply(np.sum, axis=1)

# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
ft_to_metrers = 0.3048
df["sqm_tot_area"] = df["sqft_tot_area"].apply((lambda x: x*ft_to_metrers**2))

# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
df["sqm_aver_floor_area"] = df[["sqm_tot_area", "floors"]].apply(lambda x: x[0]/x[1], axis=1)

# Q15.4 Create a new column 'price_cat' by splitting a 'price' into 5 ([1..5]) distinct intervals: 0 <= x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use '.quantile()' to compute percentiles.
percentiles = [0, 0.2, 0.4, 0.6, 0.8, 1.0]
df['price_cat'] = pd.qcut(df['price'], q=percentiles, labels=False, duplicates='drop') + 1

# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4
df["high_class"] = df[["grade", "condition"]].apply(lambda x: True if ((x[0] >=9) & (x[1]>=4)) else False, axis=1)

In [ ]:
# Using mask or .query syntax select rows/columns (float)

# Q16.5 What is the minimal number of bathrooms in houses with high_class=True?
print("Q16.5 What is the minimal number of bathrooms in houses with high_class=True? - ", \
      df[(df["high_class"]==True)]['bathrooms'].min().astype(float))

# Q16.1 What is the average price of the house of the high_class(=True)?
print("Q16.1 What is the average price of the house of the high_class(=True)? - ", \
      np.round(df[(df["high_class"]==True)]['price'].mean(), 3))

Q16.5 What is the minimal number of bathrooms in houses with high_class=True? -  1.0
Q16.1 What is the average price of the house of the high_class(=True)? -  1146802.328

# 5. Basic date processing

You figure out that column `date` is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method `to_datetime()` to convert the date to a good format.
- Exctract `year`, `month`, `day` and `weekday` from your new date column. Save them to separete columns.
- How many columns has your data now?
- Drop column `date`, remember to set `inplace` parameter to True.


**Hint** for datetime formatted date you could extract the `year` as follow:
```
data.date.dt.year
```

Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like **black friday**.

Learn how to work with date in Python!

In [ ]:
# Create new columns based on `date` column

# Q17.1 Convert date to datetime format
df["date"] = pd.to_datetime(df["date"])
# Q17.2 Extract and store `year`
df['year'] = df["date"].dt.year
# Q17.3 Extract and store `month`
df['month'] = df["date"].dt.month
# Q17.4 Extract and store `day`
df['day'] = df["date"].dt.day
# Q17.5 Extract and store `weekday`
df['weekday'] = df["date"].dt.weekday
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns
df['house_age_10'] = ((df["year"] - df['yr_built']) // 10).astype(int)

In [ ]:
# Drop column `date`
df.drop('date', axis=1, inplace=True)

In [ ]:
# Find some date related information from the data (int)

# Q18.2 What is the most popular selling month?
print("Q18.2 What is the most popular selling month? - ", \
      *df['month'].value_counts().head(1).index)
# Q18.5 How many houses were sold on America's Independence Day (July, 4)?
print("Q18.5 How many houses were sold on America's Independence Day (July, 4)? - ", \
      df[(df["month"]==7) & (df["day"]==4)].shape[1])

Q18.2 What is the most popular selling month? -  5
Q18.5 How many houses were sold on America's Independence Day (July, 4)? -  30

# 6. Groupby
From the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

    - Splitting the data into groups based on some criteria.
    - Applying a function to each group independently.
    - Combining the results into a data structure.
    
---
`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average area of houses with high grade you could compute average areas of the
houses for every grade in a single command:

```
data.groupby('grade')['sqm_tot_area'].mean()
```

You could also make multi-column groups:

```
data.groupby(['weekday','grade'])['price'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','grade'])['price'].agg([min, max])
```

instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['condition','grade'])['bathrooms'].apply(lambda x: np.quantile(x, .5))
```

and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['condition'])['bathrooms'].median()
data['gp_feature'] = data['condition'].map(gp)
```
Now, if some house has `condition == 2`, its `gp_feature` will be equal to the median number of
bathrooms amongst all houses with `condition == 2`.

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [ ]:
# Create some groupby features

# Q19.4 `area_by_price` groupby `price_cat` and compute average `sqft_living`.
gp4 = df.groupby(["price_cat"])["sqft_living"].mean()
df["area_by_price"] = df["price_cat"].map(gp4)

# Q19.2 `price_by_year` groupby `year` and compute median price.
gp2 = df.groupby(["year"])["price"].median()
df["price_by_year"] = df["year"].map(gp2)

In [ ]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

# Q20.3 `price_by_yr_month_`(median, std) groupby `year`, `month` and compute median and std `price`.
df['price_by_yr_month_median'] = df.groupby(['year', 'month'])['price'].transform('median')
df['price_by_yr_month_std'] = df.groupby(['year', 'month'])['price'].transform('std')

# Q20.4 `price_by_grade_age_`(median, std) groupby `grade`, `house_age` and compute median and std `price`.
house_age = df["year"] - df['yr_built']
df['price_by_grade_age_median'] = df.groupby(['grade', house_age])['price'].transform('median')
df['price_by_grade_age_std'] = df.groupby(['grade', house_age])['price'].transform('std')

# 7. Building a regression model

> You do not need to normalize data for tree models; for linear/knn models this step is essential.

> Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.

> You may create or drop **any** features you want, except for the features which use `price` (e.g. average price of a house with 5 bedrooms).

In [ ]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.
df_price = df['price']
df.drop(df.filter(regex='price').head(), axis=1, inplace=True)

In [ ]:
df.drop(columns=['waterfront', 'zipcode', \
                 'lat', 'long', 'yr_renovated', 'high_class', 'year', 'month', \
                 'day', 'weekday', 'condition', 'grade', \
                 'yr_built', 'sqm_tot_area', 'sqm_aver_floor_area', \
                 "view", "house_age_10"],axis=1, inplace=True)

df['price'] = df_price

NameError: ignored

In [ ]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

for i in ["bedrooms", "floors", "bathrooms"]:
  df[i]= label_encoder.fit_transform(df[i])

In [ ]:
df.head(10)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_living15,sqft_lot15,was_renovated,sqft_tot_area,price
id,,,,,,,,,,,,
1000102,6,11,2400,9373,2,2400,0,2060,7316,0,23549,300000.0
1000102,6,11,2400,9373,2,2400,0,2060,7316,0,23549,280000.0
1200019,4,6,2060,26036,0,1160,900,2590,21891,0,54637,647500.0
1200021,3,3,1460,43000,0,1460,0,2250,20023,0,68193,400000.0
2800031,3,3,1430,7599,1,1010,420,1290,10320,0,22069,235000.0
3600057,4,7,1650,3504,0,760,890,1480,3504,1,11788,402500.0
3600072,4,10,2220,5310,0,1170,1050,1540,4200,0,15490,680000.0
3800008,5,5,1990,18200,0,1990,0,1860,8658,0,32698,178000.0
5200087,4,9,2540,5001,2,2540,0,2360,6834,0,19275,487000.0
6200017,3,3,1340,21336,1,1340,0,1340,37703,0,63059,281000.0

In [ ]:
# # remove categories from normalization!
list_to_remove = ["bedrooms", "floors", "bathrooms", "was_renovated"]
final_list = list(set(list(X.columns)) - set(list_to_remove))
print(final_list)

['sqft_basement', 'sqft_living15', 'sqft_tot_area', 'sqft_lot15', 'sqft_above', 'sqft_living', 'sqft_lot']

In [ ]:
# Q22 Split your data into train and test parts.
from sklearn.model_selection import train_test_split, GridSearchCV
X, Y = df.drop('price', axis=1), df['price']

# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=42
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

# Normalization of data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
features =list(X.columns)

X_train[features] = scaler.fit_transform(X_train[list(features)])
X_test[features] = scaler.fit_transform(X_test[list(features)])


# How many records (rows) do you have in train and test tables? (list of int)?
print('Train part has {}'.format(X_train.shape[0]),
      '\nTest part has {}'.format(X_test.shape[0]))

Train part has 14480
Test part has 7133

In [ ]:
# Create a predictive regression model of a house price.

# Q23.1 Use linear regression with l2 regularization (Ridge regression)
from sklearn.linear_model import Ridge

# Q23.3 Use k nearest neighbours regression
from sklearn.neighbors import KNeighborsRegressor

In [ ]:
# Use grid search to select optimal hyperparamters of your models.

# Q24.1 Alpha for a ridge regression
params_grid_Ridge = {'alpha':[i for i in np.logspace(-10,10,20)]
              }
N_JOBS = -1
CV_Ridge = GridSearchCV(Ridge(), params_grid_Ridge, n_jobs=N_JOBS,  cv=5)


# Q24.3 Number of neighbours for the knn)
params_grid_knn = {'n_neighbors':range(1, 30),
                   'algorithm': ["auto",  "ball_tree", "kd_tree", "brute"]
              }
CV_knn = GridSearchCV(KNeighborsRegressor(),
                      params_grid_knn,
                      n_jobs=N_JOBS,
                      cv=5)

In [ ]:
CV_Ridge.fit(X_train, Y_train)
CV_Ridge.predict(X_test)
print(CV_Ridge.best_estimator_, CV_Ridge.best_score_)

# CV_knn.fit(X_train, Y_train)
# CV_knn.predict(X_test)
# print(CV_knn.best_estimator_, CV_knn.best_score_)

Ridge(alpha=0.2976351441631313) 0.5281395077937348

In [ ]:
# Compute train and test mean squared error for your best models (list of float).
from sklearn.metrics import mean_squared_error, r2_score

# Q25.1 Train, test MSE using linear regression with l2 regularization
best_Ridge = CV_Ridge.best_estimator_
best_Ridge.fit(X_train, Y_train)
Y_predict_Ridge = best_Ridge.predict(X_test)

print('MSE (train) Ridge model is {}'.format(mean_squared_error(Y_train, best_Ridge.predict(X_train))))
print('MSE (test) Ridge model is {}'.format(mean_squared_error(Y_test, best_Ridge.predict(X_test))), end="\n\n")

# # Q25.3 Train, test MSE using k nearest neighbours regression
# best_knn = CV_knn.best_estimator_
# best_knn.fit(X_train, Y_train)
# Y_predict_knn = best_knn.predict(X_test)

# print('MSE (train) knn model is {}'.format(mean_squared_error(Y_train , best_knn.predict(X_train))))
# print('MSE (test) knn model is {}'.format(mean_squared_error(Y_test , Y_predict_knn)))

MSE (train) Ridge model is 65981970460.51911
MSE (test) Ridge model is 118533932699.9289

In [ ]:
# Compute train and test R^2 for your best models (list of float).
# Q26.1 Train, test R^2 using linear regression with l2 regularization
print('R^2 (test) Ridge model is {}'.format(r2_score(Y_test , Y_predict_Ridge)))
print('R^2 (train) Ridge model is {}'.format(r2_score(Y_train , best_Ridge.predict(X_train))))
print('Ridge coefficients are {}'.format(best_Ridge.coef_), end="\n\n")

# Q26.3 Train, test R^2 using k nearest neighbours regression
print('R^2 (test) knn model is {}'.format(r2_score(Y_test , Y_predict_knn)))
print('R^2 (train) knn model is {}'.format(r2_score(Y_train , best_knn.predict(X_train))))

In [ ]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

# Ridge model
weights = map(lambda x: x.round(3), best_Ridge.coef_)
df_best_features = pd.DataFrame({"features":features}).join(pd.DataFrame({"weights":weights}))
df_best_features.sort_values(by=['weights'], ascending=False)
print('The features with largesr weights: {}'.format(df_best_features.features[:5].tolist()))

# Make sure your .ipynb is linearly executable
# Kernel -> Restart & Run All -> No ERROR cells

In [ ]:
# Q28 Save your .ipynb file: FirstName_SecondName_HA1.ipynb, you will be asked to upload it into the google form.